.section-histórico{
    padding-bottom: 50px;
}

h1{
    font-family: 'Sora', sans-serif;
    font-size: 24px;
    color:#FFFFFF ;
    padding-bottom: 12px;
}

h2{
    font-family: 'Sora', sans-serif;
    color:#E0E0E0;
    font-size: 18px;

}