.pilops-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1A1A1A;
    padding-top: 63px;
    padding-bottom: 61.73px;
}

.img-pilops {
    width: 292px;
    height: 89.27px;
}


